<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/author"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="personForm">
    <!--Person's Name-->
    <ion-item lines="none">
      <ion-label position="stacked">Nombre del Autor</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <!--Person's middlename-->
    <ion-item lines="none">
      <ion-label position="stacked">Segundo Nombre del Autor</ion-label>
      <ion-input formControlName="middlename"></ion-input>
    </ion-item>
    <!--Person's lastname-->
    <ion-item lines="none">
      <ion-label position="stacked">Apellido del Autor</ion-label>
      <ion-input formControlName="lastname"></ion-input>
    </ion-item>
  </form>
  <div class="save">
    <ion-button expand="round" [disabled]="!personForm.valid" (click)="saveForm()">Guardar</ion-button>
  </div>
</ion-content>
